*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #dedbce;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.navbar h1{
    font-family: 'Dancing Script', cursive;

}
.cart{
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    position: relative;
}
ul li a::after{
    content: '';
    width: 0;
    height: 10px;
    background: #473f3c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-50px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #2b2928;
}
.content p{
    font-size: 20px;
    font-weight: 100;
    color: #453e3b;
}
.content{
    margin-left: 5%;
    margin-top: 5%;
}
.main-image{
   width: 50%;
}
.banner{
    display: flex;
    margin-top: 10px;
}
.left-col,.right-col{
    flex-basis: 50%;
}
.right-col{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 400px;
    height: 500px;
}
/*manual navigation*/
.navigation-manual{
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #dfd3c5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #dfd3c5;
}
#button1:checked ~ .first{
    margin-left: 0;
}
#button2:checked ~ .first{
    margin-left: -20%;
}
#button3:checked ~ .first{
    margin-left: -40%;
}
.auto-nav{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 460px;
}
.auto-nav div{
    border: 2px solid #dfd3c5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.auto-nav div:not(:last-child){
    margin-right: 40px;
}
#button1:checked ~ .auto-nav .auto-btn1{
    background: #dfd3c5;
}
#button2:checked ~ .auto-nav .auto-btn2{
    background: #dfd3c5;
}
#button3:checked ~ .auto-nav .auto-btn3{
    background: #dfd3c5;
}
